.characters-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 20px;
}

.characters-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 20px;
    text-align: center;
    gap: 8px;
}

@media only screen and (max-width: 782px) {
    .characters-grid-container {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
}

.characters-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 30px;
    border: 1px solid gray;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.characters-card img {
    width: 50px;
    border-radius: 50%;
}

.error-container {
    text-align: center;
    margin: 40px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.loading-container {
    width: fit-content;
    margin: 150px auto;
}

.personal-data-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.personal-data-container p{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}

.personal-data-container span{
    font-size: 16px;
    font-weight: normal;
}

.personal-data-title {
    font-size: 18px;
    margin: 20px 0 5px 0;
}

.homeworld-data-container {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}